.group209 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 35px 33px 17px 16px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  .noOtherInvitationsYet {
    width: 63.6%;
    height: 14.38%;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 9px;
    margin-left: 103px;
  }
  .undrawNotFound60pq1 {
    width: calc(62.19% - 19.31px);
    height: 79.74%;
    padding: 0 8.17px 0 11.14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flexWrapperTen {
    margin-bottom: 12.16px;
    padding: 0 0 0 8.17px;
    display: flex;
    align-items: flex-start;
  }
  .relativeWrapperTwo {
    margin-right: 17.2px;
    position: relative;
  }
  .flexWrapperOne {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/827922d0-6a7c-40e2-bea6-5ee4338ce7e0.svg");
    padding: 6.12px 38.86px 59.57px 4.03px;
    position: relative;
  }
  .vector {
    width: 100%;
    height: 100%;
  }
  .vectorTwo {
    width: 41.91%;
    height: 125.19%;
    position: absolute;
    left: 17.69px;
    bottom: -21.6px;
  }
  .vectorThree {
    width: 5.99%;
    height: 7.86%;
    background-color: rgba(47, 46, 65, 1);
    position: absolute;
    left: -9.91px;
    bottom: -19.44px;
  }
  .vectorFour {
    width: 29.07%;
    height: 16.56%;
    position: absolute;
    left: -16.13px;
    bottom: 4.66px;
  }
  .flexWrapperTwo {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/c5746d53-e3ab-43a9-a3dd-d6c843818ae6.svg");
    padding: 0 6.89px 0.01px 6.45px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: -8.11px;
    bottom: -21.61px;
  }
  .vectorFive {
    width: 16.41%;
    height: 21.55%;
    background-color: rgba(47, 46, 65, 1);
    position: absolute;
    left: 5.74px;
    top: 22.46px;
  }
  .vectorSix {
    width: 100%;
    align-self: stretch;
    position: relative;
    object-fit: cover;
  }
  .flexWrapperThree {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/da0da8f9-e2d3-4f0d-be86-41c93baa7c7c.svg");
    padding: 0.86px 56.91px 0.72px 9.39px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: -91.91px;
    bottom: -25.35px;
  }
  .vectorSeven {
    width: 2.18%;
    height: 87.1%;
    margin-top: 0.93px;
    margin-right: 5.19px;
  }
  .vectorEight {
    width: 2.18%;
    height: 87.1%;
    margin-top: 0.86px;
    margin-right: 91.74px;
  }
  .vectorNine {
    width: 5.82%;
    height: 32.59%;
  }
  .flexWrapperFive {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/050d27e5-3d6a-40b8-bb09-033605b67a51.svg");
    padding: 0 6.33px 0 5.92px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: -7.48px;
    bottom: -19.07px;
  }
  .vectorTen {
    flex: 1;
    align-self: stretch;
    object-fit: cover;
  }
  .flexWrapperEight {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/b9a44540-42be-4d7a-bec2-bb33c4aa8f19.svg");
    padding: 5.02px 7.82px 0.25px 2.11px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: -16.47px;
    bottom: -15.44px;
  }
  .vectorEleven {
    width: 26.12%;
    height: 63.61%;
    margin-top: 7.1px;
    margin-right: 2.52px;
  }
  .flexWrapperNine {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/6d35c583-4985-43d3-9028-cc6d3f8dba99.svg");
    padding: 2.82px 2.82px 2.83px 2.83px;
    display: flex;
    align-items: center;
  }
  .relativeWrapperFour {
    margin-top: 76.29px;
    margin-right: 0.12px;
    position: relative;
  }
  .flexWrapperFour {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/0e1f24e8-28b7-4846-89e5-77a2f4486b99.svg");
    padding: 5.06px 8.8px 11.25px 7.54px;
    position: relative;
  }
  .vectorTwelve {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .vectorThirteen {
    width: 11.4%;
    height: 11.38%;
    position: absolute;
    left: 10.37px;
    top: 7.88px;
  }
  .vectorFourteen {
    width: 71.72%;
    height: 62.63%;
    position: absolute;
    left: -3.49px;
    top: -8.17px;
  }
  .vectorFifteen {
    width: 15.67%;
    height: 50.04%;
    position: absolute;
    left: 1.15px;
    bottom: -0.35px;
  }
  .relativeWrapperThree {
    width: 34.72%;
    height: 69.46%;
    margin-top: 19.46px;
    position: relative;
  }
  .vectorSixteen {
    width: 41.91%;
    height: 125.19%;
    position: absolute;
    left: 14.48px;
    bottom: -17.68px;
  }
  .flexWrapperSix {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/839bda00-0c2c-4d8e-b6be-2d7b6e8c959a.svg");
    padding: 0 6.89px 0.01px 1.09px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: -16.17px;
    bottom: -19.44px;
  }
  .vectorSeventeen {
    width: 25.15%;
    height: 21.55%;
    background-color: rgba(47, 46, 65, 1);
    margin-top: 20.7px;
    margin-right: 1.59px;
  }
  .relativeWrapperOne {
    position: relative;
  }
  .vectorEighteen {
    width: 65.21%;
    height: 7.52%;
    position: absolute;
    right: -0.11px;
    bottom: 5.92px;
  }
  .flexWrapperSeven {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/4f8e25ed-e5ef-4834-b4dc-2cf61a1eae93.svg");
    padding: 18.49px 4.02px 6.04px 1.84px;
    position: relative;
  }
  .vectorNineteen {
    width: 100%;
    height: 100%;
    background-color: rgba(47, 46, 65, 1);
  }
  .flexWrapperEleven {
    margin-bottom: 3.61px;
    display: flex;
    align-items: flex-start;
  }
  .vectorTwenty {
    width: 47.36%;
    height: 94.25%;
    margin-top: 0.21px;
    margin-right: 45.94px;
  }
  .vectorTwentyOne {
    width: 20.73%;
    height: 41.37%;
  }
  .vectorTwentyTwo {
    width: 19.04%;
    height: 1.24%;
    margin-left: 60.12px;
  }