.mainwrapper{
  width:100%;
  height:100%;
  margin:0;
}

.XsigninOnboard {
    background-color:white;
    padding: 0 0 0 0px;
    display: flex;
    align-items: flex-start;
    width:100%;
    /* zoom: 3;  */
    /* -moz-transform: scale(3); 
    -moz-transform-origin: 0 0;
     */ 
     margin:0;
  }

  .xonein{
    padding:52px;
 
    
  }

  .Xgroup1 {
    margin-top: 9px;
    margin-right: 1px;
    padding: 19px 0 0;
    position: relative;
  }
  .Xu {
    font-family: "Lato";
    font-size: 37px;
    font-weight: 900;
    line-height: normal;
    color: tomato;
    position: relative;
  }
  .XuTwo {
    font-family: "Lato";
    font-size: 36px;
    font-weight: 900;
    line-height: normal;
    color: tomato;
    position: absolute;
    left: 0;
    top: 0;
  }
  .XflexWrapperTwo {
    /* margin-right: 107px; */
    width: 50%;
    padding: 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Xunion {
    /* font-family: "Lato"; */
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    color: black-2;
    margin-bottom: 92px;
    opacity: 0.X63;
  }
  .XworkOnTheRealWorldProjectsWithEas {
    height: 50%;
    width: 70%;
    /* font-family: "Montserrat"; */
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: black-2;
    display: flex;
    margin-top:50px;
    margin-bottom:80px;
    margin-left: 40px;
    margin-right:auto ;
  }
  .XsignInWith {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: black-2;
    margin-bottom: 24px;
    margin-left: 40px;
  }
  .Xvector {
    width: 76.24%;
    height: 5.69%;
    margin-bottom: 32px;
    margin-left: 39px;
  }
  .XalreadyHaveAnAccount {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: black-2;
    margin-bottom: 6px;
    margin-left: 39px;
  }
  .Xlogin {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: red;
    margin-bottom: 321px;
    margin-left: 39px;
  }
  .XtermsOfService {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: black-2;
    margin-left: 38px;
  }
  .XrelativeWrapperOne {
    width:100%;
    position: relative;
    margin: 0;
    padding:0;
  }
  .XfoundationsocialLinkedin {
    width: 59px;
    height: 59px;
    position: absolute;
    left: -29px;
    bottom: 482px;
  }
  .XflexWrapperOne {
    background-color: black;
    padding: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    position: relative;
  }
  .XwhyLinkedIn {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: white;
    margin-bottom: 267px;
    margin-left: 428px;
  }
  .XcollaborationOnProjectsMadeEasyWith {
    width: 70%;
    /* font-family: "Montserrat"; */
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    color: white;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .XfindThePassionateTeamToKickStartY {
   width: 70%;
    /* font-family: "Open Sans"; */
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: white;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
  }

  .leftdiv{
    background: black;
  }

  .rightdiv{
    padding:50px;
  }

  .lnimage{
    height:100px;
    width:100px;
  }

  .bottomright{
    margin-bottom:100px;
  }