.navBarImage{
  width: 100%;
}

.navBarRow {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10%
  }
.navBarColumn_Left{
    margin-left: 2%;
}
.navBarColumn_Mid{
color:white;
margin-left:33%;
font-size:150%;
padding:0px
}
.navBarColumn_Right{
    color:white;
    margin-left: 33%;
    margin-right: 2% ;
    display: flex;
    align-items: center;
}
.navBarColumn_Left_U{
    font-size:220%;
    color:pink
}
.navBarColumn_Left_Union{
    font-size: 150%;
    color:white
}
  
  /* Style the links inside the navigation bar */
  .navBarRow a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navBarRow a:hover {
  background-color: #ddd;
  color: black;
  }
  
  /* Add a color to the active/current link */
  .tonavBarRowpnav a.active {
  background-color: #04AA6D;
  color: white;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav_right {
  float: right;
  }
  
  .navBarUser{
    border:1px solid white;
    border-radius: 8px;
    width: 22%;
    height: 20%;
    margin-left: 20%;
    margin-top: 6%;
    margin-bottom: 4%;
  }