.nav-main{
    width:100%;
    
    background:black;
    padding: 10px;
    margin: 0;
    align-items: center;
  
}
.Xu {
    font-family: "Lato";
    font-size: 37px;
    font-weight: 900;
    line-height: normal;
    color: tomato;
    position: relative;
  }

 
  .Xunion {
    /* font-family: "Lato"; */
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    color: black-2;
    margin-bottom: 92px;
    opacity: 0.X63;
  }
.logo{
    margin: 8px 0;
    text-align:center;
    align-items: center;
   
}

.middle-text{
    text-align: center;
    color:white;
    margin: 5px;
    margin-bottom: 10px;
   font-size:larger
}

.options-bar{
    color:white;
    text-align: center;   
    float:center;
    align-items: right;
    justify-content: center;
 
}

.options-bar a{
    color:white;
    
}

.profile-pic{
    height:60px;
    width:60px;
    padding:0px;
    color:white;
    margin:0px;
    
}
.profile-pic img{
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    border-radius: 30%;
    color:white;      
}

.imgClass:hover{
    opacity: 0.7;
}

