.nav-main{
    width:100%;
    
    background:black;
    padding: 10px;
    margin: 0;
    align-items: center;
  
}

.logo{
    margin: 8px 0;
    text-align:center;
    align-items: center;
   
}

.middle-text{
    text-align: center;
    color:white;
    margin: 5px;
    margin-bottom: 10px;
   font-size:larger
}

.options-bar{
    color:white;
    text-align: center;   
    float:center;
    align-items: right;
    justify-content: center;
 
}

.options-bar a{
    color:white;
    
}

.profile-pic{
    height:60px;
    width:60px;
    padding:5px;
    color:white;
    
    margin:5px;
    
}
.profile-pic img{
    height:100%;
    width:100%;
    
    color:white;
    
  
    
}

