.editProfileButton{
  transition-duration: 0.4s;
  display: flex;
  margin-top: 2%;
}

.editProfileButton:hover{
 background-color:black; 
 color: white;
}

.editProfile {
  background-color: rgba(255, 255, 255, 1);
  /* padding: 69px 0 168px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.OuserView__basicInfoText__name{
  letter-spacing: 0.18px;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15%
}
.OrelativeWrapperTwo {
  margin-bottom: 42px;
  position: relative;
}
.Orectangle61 {
  /* width: 1440px; */
  height: 170px;
  background-color: rgba(247, 247, 247, 1);
  position: relative;
}
.Orectangle2 {
  width: 217px;
  height: 191.43px;
  position: absolute;
  left: 110px;
  bottom: -149.43px;
  border: 2px solid rgba(34, 34, 35, 1);
  border-radius: 10px;
}
.Ogroup188 {
    padding:10px;
    margin-bottom: 16.42px;
  margin-left: 1398px;
  display: flex;
  align-items: flex-start;
}
input[type=text], select {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
  user-select: none;
  font-weight: 700;
  background-color: antiquewhite;
}

.Otimer{
  margin-top: -18px;
}

.OflexWrapperTwo {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/62b631c6-6eed-4fe1-8074-9909cdb71e40.svg");
  padding: 2.51px 3.24px 3.15px 5.52px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

.OflexWrapperFourteen {
  /* margin-bottom: 42px; */
  padding: 0 0 0 82px;
  display: flex;
  align-items: flex-start;
}
.OflexWrapperTwenty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-top: 0; */
  
  padding: 30px;
}

.OflexWrapperTwentyOne{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-top: 0; */
  margin-top: 114px;
  padding: 30px;
}


.OflexWrapperTwenty:not(:last-of-type) {
  margin-right: 203px;
}

.Oexperience {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: normal;
  color: rgba(34, 34, 35, 1);
  margin-bottom: 24px;
}
.OflexWrapperThree {
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 5px;
  padding: 37px 333px 135px 31px;
  display: flex;
  align-items: flex-start;
  border: 1px solid rgba(34, 34, 35, 1);
}
.OtellUsAboutYourPreviousExperience {
  width: 326px;
  font-family: "Karla";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}
.OflexWrapperFour {
  background-color: rgba(247, 247, 247, 0.5);
  margin-bottom: 82px;
  margin-left: 776px;
  border-radius: 25px;
  padding: 11px 20px 94px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border: 1px solid rgba(34, 34, 35, 1);
  margin-right: 573px;
}
.OflexWrapperFifteen {
  margin-bottom: 31px;
  display: flex;
  align-items: center;
}
.OvectorTwelve {
  width: 19.18%;
  height: 66.67%;
}
.OvectorThirteen {
  width: 14.58%;
  height: 66.67%;
}
.OflexWrapperTen {
  background-color: rgba(255, 255, 255, 1);
  margin-right: 18px;
  border-radius: 10px;
  padding: 4px 25px 4px 29px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 1);
}
.OflexWrapperThirteen {
  margin-left: 896px;
  border-radius: 10px;
  /* padding: 15px 60px 15px 84px; */
  display: flex;
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 1); */
}
