.editProfile {
    background-color: rgba(255, 255, 255, 1);
    /* padding: 69px 0 168px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .userView__basicInfoText__name{
    letter-spacing: 0.18px;
    font-family: "Lato";
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 5%;
}

.userView___basicInfoText__role{
    font-family: "Open Sans";
    font-size: 80%;
    font-weight: 400;
    line-height: normal;
    color: black-2;
}
.userView___basicInfoText__email{
    font-family: "Open Sans";
    font-size: 80%;
    font-weight: bold;
    line-height: normal;
    color: black-2;
}
  .relativeWrapperTwo {
    margin-bottom: 42px;
    position: relative;
  }
  .rectangle61 {
    width: 1440px;
    height: 170px;
    background-color: rgba(247, 247, 247, 1);
    position: relative;
  }
  .navbar {
    background-color: rgba(34, 34, 35, 1);
    padding: 4px 72px 4px 111px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: -69px;
  }
  .logo {
    margin-right: 442px;
    padding: 19px 0 0;
    display: flex;
    align-items: flex-start;
  }
  .relativeWrapperOne {
    margin-right: 2px;
    position: relative;
  }
  .u {
    font-family: "Lato";
    font-size: 36px;
    font-weight: 900;
    line-height: normal;
    color: rgba(255, 90, 95, 1);
    position: relative;
  }
  .uTwo {
    font-family: "Lato";
    font-size: 36px;
    font-weight: 900;
    line-height: normal;
    color: rgba(255, 90, 95, 1);
    position: absolute;
    left: 0;
    top: -19px;
  }
  .union {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
  }
  .editYourProfile {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    margin-right: 536px;
  }
  .help {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
  }
  .rectangle2 {
    width: 196px;
    height: 172.43px;
    position: absolute;
    left: 110px;
    bottom: -149.43px;
    border: 2px solid rgba(34, 34, 35, 1);
    border-radius: 10px;
  }
  .group188 {
      /* padding:10px; */
    margin-bottom: 102.42px;
    margin-left: 930px;
    display: flex;
    align-items: flex-start;
  }
  .group {
    margin-right: 18px;
    padding: 3.16px 4.74px 3.16px 0;
    position: relative;
  }
  .vector {
    width: 5.27%;
    height: 20.01%;
    position: absolute;
    left: 5.53px;
    top: 0;
  }
  .vectorTwo {
    width: 5.27%;
    height: 20.01%;
    position: absolute;
    right: 10.26px;
    top: 0;
  }
  .flexWrapperOne {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/91e3497f-d5f1-4866-a622-7bbf95d6882b.svg");
    padding: 7.1px 0.79px 3.94px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .vectorThree {
    width: 100%;
    height: 11.11%;
    background-color: rgba(34, 34, 35, 0.7);
    margin-bottom: 1.58px;
  }
  .flexWrapperEighteen {
    padding: 0 0 0 3.16px;
    display: flex;
    align-items: flex-start;
  }

  .flexWrapperEighteen:not(:last-of-type) {
    margin-bottom: 1.58px;
  }

  .vectorFour {
    width: 33.36%;
    align-self: stretch;
    object-fit: cover;
  }

  .vectorFour:not(:last-of-type) {
    margin-right: 1.57px;
  }
  .vectorFive {
    width: 33.36%;
    align-self: stretch;
    margin-right: 1.58px;
    object-fit: cover;
  }
  .vectorSix {
    width: 60.08%;
    align-self: stretch;
    object-fit: cover;
  }

  .vectorSix:not(:last-of-type){
    margin-right: 1.57px;
  }

  .flexWrapperTwo {
    background-size: 100% 100%;
    background-position: center;
    background-image: url("https://static.overlay-tech.com/assets/62b631c6-6eed-4fe1-8074-9909cdb71e40.svg");
    padding: 2.51px 3.24px 3.15px 5.52px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .vectorSeven {
    width: 100%;
    height: 100%;
  }
  .num3HrsPerWeek {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1px;
    margin-right: 71px;
  }
  .group176 {
    width: 15px;
    height: 15px;
    margin-top: 10px;
  }
  .flexWrapperFourteen {
    margin-bottom: 42px;
    padding: 0 0 0 111px;
    display: flex;
    align-items: flex-start;
  }
  .flexWrapperTwenty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 0; */
    padding: 30px;
  }

  .flexWrapperTwenty:not(:last-of-type){
    margin-right: 118px;
  }

  .name {
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .jennyWillson {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 22px;
    letter-spacing: 0.18px;
  }
  .flexWrapperTwentyThree {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
  }
  .group187 {
    width: 16px;
    height: 14px;
    margin-top: 2px;
    margin-right: 12px;
  }
  .uxDesignLeadership {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .uxDesignLeadershipEmphasis1 {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .flexWrapperTwentyFour {
    display: flex;
    align-items: center;
  }
  .group186 {
    width: 15px;
    height: 12px;
    margin-right: 13px;
  }
  .jennyWilsonCom {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .flexWrapperTwentyTwo {
    display: flex;
    align-items: flex-start;
  }
  .vectorEight {
    width: 16.95%;
    height: 88.24%;
    margin-top: 4px;
    margin-right: 16px;
  }
  .vectorNine {
    width: 16.95%;
    height: 86.06%;
    margin-top: 4px;
    margin-right: 16px;
  }
  .group5 {
    border-radius: 5px;
    padding: 7px 10px 8px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(34, 34, 35, 0.8);
  }
  .vectorTen {
    flex: 1;
    align-self: stretch;
    object-fit: cover;
  }
  .experience {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: rgba(34, 34, 35, 1);
    margin-bottom: 24px;
  }
  .flexWrapperThree {
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 5px;
    padding: 37px 333px 135px 31px;
    display: flex;
    align-items: flex-start;
    border: 1px solid rgba(34, 34, 35, 1);
  }
  .tellUsAboutYourPreviousExperience {
    width: 326px;
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .skills {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: rgba(34, 34, 35, 1);
    margin-bottom: 24px;
    margin-left: 494px;
  }
  .flexWrapperFour {
    background-color: rgba(247, 247, 247, 0.5);
    margin-bottom: 100px;
    margin-left: 383px;
    border-radius: 5px;
    padding: 13px 20px 96px 23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border: 1px solid rgba(34, 34, 35, 1);
  }
  .flexWrapperFifteen {
    margin-bottom: 31px;
    display: flex;
    align-items: center;
  }
  .addSkill {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-right: 563px;
  }
  .flexWrapperFive {
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
    background-position: center;
    background: url("https://static.overlay-tech.com/assets/d1eb3c1d-4891-437c-9418-a2b80cb269e7.svg"),
      url("https://static.overlay-tech.com/assets/e469faa6-6f90-4697-8748-d1411df133bd.svg");
  }
  .flexWrapperSix {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    margin-left: 2px;
    border-radius: 5px;
    padding: 10px 473px 10px 24px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .skillExDesign {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .suggestedSkills {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 26px;
    margin-left: 3px;
  }
  .flexWrapperSixteen {
    margin-bottom: 16px;
    padding: 0 0 0 2px;
    display: flex;
    align-items: flex-start;
  }
  .flexWrapperSeven {
    background-color: rgba(255, 255, 255, 1);
    margin-right: 15px;
    border-radius: 10px;
    padding: 4px 21px 4px 20px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .webDesign {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-right: 4px;
  }
  .vectorEleven {
    width: 12.17%;
    height: 66.67%;
  }
  .flexWrapperEight {
    background-color: rgba(255, 255, 255, 1);
    margin-right: 15px;
    border-radius: 10px;
    padding: 4px 38px 4px 45px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .figma {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-right: 7px;
  }
  .vectorTwelve {
    width: 19.18%;
    height: 66.67%;
  }
  .flexWrapperNine {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 4px 30px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .vectorThirteen {
    width: 14.58%;
    height: 66.67%;
  }
  .flexWrapperTen {
    background-color: rgba(255, 255, 255, 1);
    margin-right: 18px;
    border-radius: 10px;
    padding: 4px 25px 4px 29px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .vectorFourteen {
    width: 13.73%;
    height: 66.67%;
  }
  .flexWrapperEleven {
    background-color: rgba(255, 255, 255, 1);
    margin-right: 18px;
    border-radius: 10px;
    padding: 4px 42px 4px 39px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .vectorFifteen {
    width: 18.67%;
    height: 66.67%;
  }
  .flexWrapperTwelve {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 4px 28px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .mythrilJs {
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-right: 6px;
  }
  .vectorSixteen {
    width: 14%;
    height: 66.67%;
  }
  .line1 {
    width: 692px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -1px;
    top: 48px;
  }
  .flexWrapperThirteen {
    margin-left: 493px;
    border-radius: 10px;
    /* padding: 15px 60px 15px 84px; */
    display: flex;
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0, 1); */
  }
  .submit {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: rgba(34, 34, 35, 1);
  }